@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

#root {
    display: flex;
    height: initial;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    /* background-color: #121212;
    background: #121212;
    background: #242424;
    color: #eee; */
}

.dark {
    background: #121212;;
    color: #eee;
}

svg g path {
    fill: black;
}

.dark svg path {
    fill: #eee;
}